.box {
    padding: 1em 1.5em;
    margin-bottom: 2em;
    margin-top: 1em;
    background-color: #fff;
  }
body {
    background-color: #ebf1f2;
}

thead {
    font-weight: bold;
    text-align: left;
}
